<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>
        User List
    </title>
</head>
<body>
<h1>Users:</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Profession</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.profession}"></td>
    </tr>
    </tbody>
</table>
<h2>Create New User:</h2>
<form method="post" action="users/create">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="profession">Profession:</label><br>
    <input type="text" id="profession" name="profession"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>